@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.cpd-color-primary{
  color: #0EABBC;
}

.cpd-link-primary{
  text-decoration: none;
  color: #0EABBC;
}
.cpd-link-primary:hover{
  color: #0ebfd3;
  font-weight: bold;
}

.cpd-btn-primary{
  background-color: #0EABBC;
  border: none;
  color:#ffffff;
}

.cpd-btn-primary:hover{
  background-color: #0499aa;
  border: none;
  color:#ffffff;
}

.cpd-shadow-primary {
  box-shadow: 0px -4px 4px #0EABBC, 0px 4px 4px #0EABBC;
}

.cpd-shadow-sidebar {
  box-shadow: 0px 4px 4px rgba(14, 171, 188, 0.25), 0px -4px 4px rgba(14, 171, 188, 0.25);
}

/* Circle quiz score */
.cpd-circle-primary {
  border: 10px solid #0EABBC;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: table;
}
.cpd-circle-primary h4 {
  display: table-cell;
}

/* OTP */
.cpd-input-otp {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
}

/* Avatar Overlap */
.cpd-avatar-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.cpd-avatar-item{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* border: 2px solid white; */
  display: inline-block;
  position: relative;
  box-shadow: -6px 6px 8px 0 rgba(0,0,0,0.2);
  -webkit-transition: .2s ease;
  transition: .2s ease;
}
.cpd-avatar-item:nth-child(n+2) { margin-left: -30px; }
/* .cpd-avatar-list:hover .cpd-avatar-item:nth-child(n+2) {
   margin-left: -10px;
} */

/* Topbar */
.cpd-top-bar{
  background-color: #E26B26;
  height: 10px;
  width:100%;
  position: absolute;
  top: 0;
  left: 0;
}
.cpd-top-bar::before {
  content: "";
  display: block;
  width: 70%;
  position: absolute;
  top:0;
  left: 0;
  background-color: #0EABBC;
  height: 100%;
} 
.cpd-top-bar::after {
  content: "";
  display: block;
  width: 15%;
  position: absolute;
  top:0;
  right: 0;
  background-color: #F3C615;
  height: 100%;
}
